Joakim Persson <joakimperssson@gmail.com>  Joakim Persson <joakimperssson@gmail.com> 
Andreas Rolen <adderollen@hotmail.com>  Andreas Rolen <adderollen@hotmail.com>
Adrian Bjugård <adrian@node6.org>  Adrian Bjugård <adrian@node6.org>
